body,h1,h2,h3,div,hr,p,ul,ol,li,form,button,input,td,i,span,a,em, {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Microsoft Yahei", Verdana, Arial;
    text-align: center;
}

a {
    text-decoration: none;
}

.music img {
    border-radius: 50%;
    font: bold 24px/100px "Microsoft Yahei";
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 998;
    -webkit-animation: me 5s linear infinite;
    animation: me 5s linear infinite;
}

@-webkit-keyframes me {
    from { transform: rotate(0deg);  }
     to { transform: rotate(360deg);  }
}

@keyframes me {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.music img:hover {
    opacity: 0.7;
    animation: none;
}

.menu {
    height: 45px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0;
    text-align: right;
    z-index: 99;
}

.menu_l {
    float: left;
    margin-left: 1%;
}
.menu_l h1{margin: 0;}
.menu_l h1 a {
    color: #fff;
    line-height: 45px;
}

.menu_l h1 a:hover {
    color: #f00;
}

.menu ul {
    margin: 0 4%;
    padding: 0;
}

.menu li {
    list-style: none;
    display: inline-block;
    font: 16px/45px "Microsoft Yahei";
}

.menu li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0px 10px;
}

.menu ul li.active {
    background: #f00;
}

.menu li:hover {
    background: #f00;
}

.smbtn {
    float: right;
}

@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font: 16px/45px "Microsoft Yahei";
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.menu li i {
    line-height: 45px;
    margin-right: 0.8rem;
}

.smbtn i {
    font-size: 2em;
    line-height: 45px;
    margin-right: 0.5rem;
}

/*  媒体查询 */
/* 小于768px */
@media screen and (max-width: 768px) {
    .music img {
        width: 50px;
        height: 50px;
    }

    .menu ul {
        display: none;
    }

    .menu ul i {
        display: none;
    }

    .p1 h1 {
        font-size: 32px !important;
    }

    .p1 h3 {
        font-size: 18px !important;
    }
}
/* 大于768px */
@media screen and (min-width: 768px) {
    .smbtn i {
        display: none;
    }

    .p2 p {
        line-height: 2.5rem !important;
    }

    .menu_l,
    .menu ul {
        display: block !important;
    }

    .menu li {
        margin-right: 2%;
    }
}

/* 页面公共样式 */
.p1,
.p2,
.p3,
.p4 {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.p1_bg,
.p2_bg,
.p3_bg,
.p4_bg {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

.p2_bg {
    background-image: url("../imges/bg2.png");
}

.p3_bg {
    background-image: url("../imges/bg3.jpg");
}

.p4_bg {
    background-image: url("../imges/bg4.jpg");
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -66;
    background-color: rgba(0, 0, 0, 0.25);
}
/* 第一页 */
.p1 .p1_bg img {
    width: 100%;
    height: 100%;
    -webkit-animation: bgbs 5s infinite;
    animation: bgbs 5s infinite;
}

@-webkit-keyframes bgbs {
    0% { transform: scale(1); }
 50% {transform: scale(1.1); }
100% {transform: scale(1); }
}

@keyframes bgbs {
    0% {transform: scale(1);}
    50% { transform: scale(1.1);}
100% { transform: scale(1);}
}

.p1 .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.p1 .logo:hover {
    opacity: 0.8;
}

.p1 h1 {
    color: rgb(255, 32, 32);
    font-size: 42px;

}

.p1 h3 {
    color: #fff;
    letter-spacing: 8px;
    margin-top: 28px;
}

.p1 span {
    background: url("../imges/arrow.png");
    background-color: rgba(0, 0, 0, .6);
    width: 50px;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    bottom: 18px;
    display: table-cell;
    background-size: 100%;
    left: 50%;
    margin-left: -25px;
    z-index: 99;
    -webkit-animation: .6s shake linear infinite alternate;
    animation: .6s shake linear infinite alternate;
}

@-webkit-keyframes shake {
    from {bottom: 20px;  }
 to {bottom: 40px; }
}

@keyframes shake {
    from {bottom: 20px; }
 to { bottom: 40px;}
}

/* 第二页 */
.p2 h3 {
    width: 160px;
    font-size: 36px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-bottom: 2px solid rgb(232, 4, 4);
}

.p2 p {
    position: absolute;
    padding: 15px;
    color: rgb(255, 255, 255);
    line-height: 1.25rem;
    margin: 0 16%;
    font-weight: bold;
    text-indent: 2rem;
}

.p2 p:before {
    width: 188px;
    height: 66px;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 2px solid rgb(255, 117, 75);
    border-top: 2px solid rgb(255, 117, 75);
}

.p2 p::after {
    width: 188px;
    height: 66px;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 2px solid #0f0;
    border-bottom: 2px solid #0f0;

}

/* 第三页 */

/* 第四页 */
.footer p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: absolute;
    margin: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.p4 h3 {
    width: 150px;
    font-size: 36px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-bottom: 2px solid rgb(232, 126, 4);
}

.p4 em {
    font-size: 24px;
    font-style: normal;
    padding: 10px 12px;
}

.p4e1 {
    color: #e3723c;
}

.p4e2 {
    color: rgb(247, 252, 0);
}

.p4e3 {
    color: rgb(235, 235, 235);
}

.p4e4 {
    color: #0f0;
}

.r_motto {
    margin-top: 35px;
    color: rgb(255, 255, 255);
    line-height: 28px;
    font-weight: bold;
}

.contact {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.contact ul{padding: 0;}
.contact li {
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.contact a {
    color: #fff;
}

.contact i {
    font-size: 36px;
}

.contact span {
    display: none;
    width: 88px;
    position: absolute;
    background: #337ab7;
    left: -26px;
    top: -36px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    z-index: 1;
}

.contact span:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 36px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-top: 8px solid #337ab7;
    border-right: 8px solid transparent;
}

.contact .r_weixin:before,
.contact .r_qq:before {
    top: 142px;
    left: 62px;
}

.contact .r_weixin,
.contact .r_qq {
    height: 140px;
    width: 140px;
    border: 2px solid #337ab7;
    background-size: cover !important;
    top: -150px;
    left: -54px;
}

.contact .r_weixin {
    background: url("../imges/r_weixin.jpg") no-repeat;
}

.contact .r_qq {
    background: url("../imges/r_qq.jpg") no-repeat;
}